h1{
color: black;
text-align: center;

}

strong {
  size: 20;

}
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

form {
  text-align: center;
}
#register {
  text-align: center;
}
